h1 {
   text-align: center;
   margin-bottom: 30px;
}

#table {
   background: #008000;
   max-width: 800px;
   margin: auto;
   padding: 20px;
   border: 3px solid #222;
   border-radius: 10px;
}

.alert {
   max-width: 800px;
   margin: 0 auto 20px auto;
}

.cards .box {
   padding: 20px;
   border: 1px dashed #eee;
   color: #fff;
   font-weight: 700;
}

@media screen and (max-width: 767px) {
   .cards + .cards {
      margin-top: 15px;
   }
}

#score-board {
   margin-right: 0;
   margin-left: 0;
}

#score-board > div {
   padding-right: 0;
   padding-left: 0;
}

#score-board .table {
   max-width: 800px;
   margin: auto;
}

#buttons {
   max-width: 800px;
   padding: 15px 0;
   margin: 20px auto;
   border: 1px solid #ccc;
   background: #fefefe;
}

#buttons > div { 
   text-align: center;
}

#buttons a {
   width: 125px;
   display: inline-block;
}

@media screen and (max-width: 767px) {
   #buttons a {
      width: 100%;
   }

   #buttons > div + div {
      margin-top: 20px;
   }
}